<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Note</h4>
            </div>
            <div class="modal-body">
                <ul id="notes" class="list-group"></ul>
                <input id="noteInput" class="form-control mt-3" placeholder="Type note here..."></input>
            </div>
            <div class="modal-footer">
                <button id="saveNote" type="submit" class="btn btn-primary" data-dismiss="modal">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script src="/saved.js"></script>